body {
    margin: 0;
    background-color: #000;
}

* {
    scroll-behavior: smooth;
}

.home {
    background-image: url('/assets/img/landing.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home_text {
    position: absolute;
    top: 260px;
    left: 0;
    padding: 0px 50px 0px 100px;
    width: 80%;
}

.big_home_text {
    color: #fff;
    text-shadow: 0px 5px 20px rgba(255, 255, 255, 0.5),
        0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 52px;
    font-weight: 700;
    width: 800px;
    margin-bottom: 30px;
}

.small_home_text {
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    width: 600px;
    margin-bottom: 40px;
}

.home_button {
    width: 220px;
    height: 95px;
    background: url("/assets/img/landing_start.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button_text {
    color: white;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: 'break-word';
    padding: 30px 0px 20px 50px;
}

.cover_home {
    background: linear-gradient(183deg, rgba(0, 0, 0, 0.00) 2.86%, #000 113.36%);
    width: 100%;
    height: 100vh;
}


.our_services {
    background-color: #000;
    width: 100%;
    height: 100vh;
}

.png_services {
    width: 640px;
    height: 480px;
    position: relative;
    top: 145px;
    left: 116px;
}

.serviceContainer {
    width: 640px;
    height: 380px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    position: relative;
    top: -270px;
    left: 220px;
    gap: 28px;
}

.serviceHeader {
    color: white;
    font-size: 40px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
}

.serviceFirst {
    color: #c6c6c6;
    font-size: 20px;
    font-family: Poppins;
    word-wrap: break-word;
    line-height: 28px;
}

.serviceSecond {
    color: #c6c6c6;
    font-size: 20px;
    font-family: Poppins;
    word-wrap: break-word;
    line-height: 28px;
}

.serviceButton {
    position: relative;
    top: 30px;
    width: 100%;
    height: 100px;
}

.serviceButtonBorder {
    width: 239px;
    height: 55px;
    border: 1px white solid;
}

.serviceButtonText {
    position: absolute;
    left: 88px;
    top: 20px;
    color: white;
    font-size: 20;
    font-family: Montserrat;
    word-wrap: break-word;
}

.why {
    background-color: #000;
    width: 100%;
    height: 100vh;
}

.whyHeader {
    color: white;
    font-size: 40px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
}

.img_flex {
    /* margin-top: 80px;
    margin-right: 80px;
    margin-left: 80px; */
    width: 90%;
    height: 600px;
    display: flex;
}

.img_flex>div {
    width: 100%;
    position: relative;
    left: -100px;
}

.img_flex>div:first-child {
    margin-right: 50px;
}

.img_flex>div:last-child {
    margin-left: 50px;
}

.why_img {
    width: 100%;
    height: 400px;
}

.why_img_head {
    position: relative;
    left: 0;
    color: white;
    font-size: 38px;
    margin-top: 35px;
    margin-bottom: 33px;
    font-family: Montserrat;
    word-wrap: break-word;
    font-weight: 700;
}

.why_img_text {
    color: #C6C6C6;
    font-size: 19px;
    font-family: 'Poppins';
    word-wrap: break-word;
    padding: 0;
}

.about {
    background-color: #000;
    width: 100%;
    height: 100vh;
}

.about_container {
    /* position: relative;
    top: 150px; */
    margin-left: 157px;
    width: 1302px;
    height: 507px;
    display: flex;
}

.text_container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
}

.text_container_header {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text_container_text1 {
    width: 100%;
    color: #C6C6C6;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.text_container_text2 {
    width: 100%;
    color: #C6C6C6;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    /* 180% */
}

.png_about {
    width: 50% !important;
}

.clients {
    position: relative;
    top: 800px;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.clients_head {
    color: #FFF !important;
    text-align: center !important;
    font-family: Montserrat !important;
    font-size: 50px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

.clients_container {
    margin-top: 50px !important;
    display: flex !important;
    flex-direction: initial !important;
    justify-content: center !important;
    width: 80% !important;
    height: 80vh !important;
    margin-left: 160px !important;
    margin-right: 160px !important;
}

.client1 {
    width: 30% !important;
    flex-shrink: 0 !important;
    margin: 140px 0px 140px 0px !important;
    border-radius: 10px !important;
    background: rgba(18, 18, 18, 0.96) !important;
    box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.50) !important;
}

.client2 {
    width: 30% !important;
    flex-shrink: 0 !important;
    margin: 140px 0px 140px 0px !important;
    border-radius: 10px !important;
    background: rgba(18, 18, 18, 0.96) !important;
    box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.50) !important;
    transform: scale(1.3) !important;
}

.client3 {
    width: 30% !important;
    flex-shrink: 0 !important;
    margin: 140px 0px 140px 0px !important;
    border-radius: 10px !important;
    background: rgba(18, 18, 18, 0.96) !important;
    box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.50) !important;
}

.bothPng {
    width: 60% !important;
    margin: 20px 70px 20px 70px !important;
}

.png_client2 {
    width: 36% !important;
    margin: 20px 116px 10px 116px !important;
}

.star_container {
    width: 100% !important;
    text-align: center !important;
}

.star_container>img {
    width: 10% !important;
}

.client_text {
    width: 90% !important;
    margin: 20px 17px 0px 17px !important;
    color: #FFF !important;
    font-family: Poppins !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    text-align: justify !important;
}

.contact {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
    top: 800px;
}

.contact_container {
    position: relative;
    top: 200px;
    margin-left: 157px;
    width: 80%;
    height: 502px;
    display: flex;
}

.contact_text_container {
    margin-top: 60px;
    width: 406px;
    height: 346px;
    flex-shrink: 0;
}

.contact_text_header {
    position: relative;
    top: 200px;
    margin-left: 160px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact_group3 {
    width: 335px;
    height: 72px;
    flex-shrink: 0;
}

.contact_group2 {
    width: 406px;
    height: 74px;
    flex-shrink: 0;
}

.contact_group1 {
    width: 402px;
    height: 74px;
    flex-shrink: 0;
}

.text1 {
    width: 206px;
    height: 39px;
    position: absolute;
    top: 48px;
    left: 64px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text2 {
    width: 333px;
    height: 24px;
    margin-top: 11px;
    position: relative;
    left: 64px;
    color: #C6C6C6;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact_text_container>div:first-child {
    margin-bottom: 60px;
}

.contact_text_container>div:last-child {
    margin-top: 60px;
}

.text3 {
    width: 106px;
    height: 39px;
    position: absolute;
    top: 180px;
    left: 64px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text4 {
    width: 341px;
    height: 24px;
    margin-top: 11px;
    position: relative;
    left: 64px;
    color: #C6C6C6;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text5 {
    position: absolute;
    top: 316px;
    left: 64px;
    width: 95px;
    height: 39px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text6 {
    position: relative;
    margin-top: 11px;
    left: 64px;
    width: 274px;
    height: 24px;
    color: #C6C6C6;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.group_container {
    position: absolute;
    top: 0;
    left: 600px;
    width: 50%;
    height: 520px;
    flex-shrink: 0;
}

.footer {
    background-image: url('/assets/img/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 680px;
    flex-shrink: 0;
    position: relative;
    top: 800px;
}

.cover_footer {
    width: 100%;
    height: 680px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #000 -2.79%, rgba(17, 17, 17, 0.00) 100%);
}

.footer_container {
    position: relative;
    top: -600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_png {
    width: 10%;
    margin-top: 200px;
    margin-right: 140px;
}

.footer_navbar {
    position: relative;
    top: 100px;
    left: 0;
    width: 30%;
    height: 323px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.footer_navbar>div {
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer_text_container {
    position: relative;
    top: 100px;
}

.footer_group3 {
    width: 335px;
    height: 72px;
    flex-shrink: 0;
}

.footer_group2 {
    width: 406px;
    height: 74px;
    flex-shrink: 0;
}

.footer_group1 {
    width: 402px;
    height: 74px;
    flex-shrink: 0;
}

.footer_text1 {
    width: 206px;
    height: 39px;
    position: absolute;
    top: -8px;
    left: 64px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_text2 {
    width: 333px;
    height: 24px;
    margin-top: 11px;
    position: relative;
    left: 64px;
    color: #C6C6C6;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_text_container>div:first-child {
    margin-bottom: 60px;
}

.footer_text_container>div:last-child {
    margin-top: 60px;
}

.footer_text3 {
    width: 106px;
    height: 39px;
    position: absolute;
    top: 123px;
    left: 64px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_text4 {
    width: 341px;
    height: 24px;
    margin-top: 11px;
    position: relative;
    left: 64px;
    color: #C6C6C6;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_text5 {
    position: absolute;
    top: 260px;
    left: 64px;
    width: 95px;
    height: 39px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_text6 {
    position: relative;
    margin-top: 11px;
    left: 64px;
    width: 274px;
    height: 24px;
    color: #C6C6C6;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_decoration {
    position: relative;
    top: -460PX;
    left: 160PX;
    width: 80%;
    height: 56px;
    flex-shrink: 0;
}

.line {
    width: 100%;
    height: 1px;
    background: #FFF;
}

.text7 {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    color: white !important;
    width: 199px;
    height: 27px;
    flex-shrink: 0;
    background-color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    color: white !important;
    outline: none !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-radius: 15px !important;
    border-color: white !important;
}

.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
    color: white !important;
}