* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.landing {
    color: white;
    background-color: #000;
}


.png_second {
    display: block;
    content: url("../img/security.png");
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    margin: 0 auto;
}

.thirdPartPng {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin: 0 auto;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 1200px) {
    .png_second{
        width: 500px;
        height: 500px;
    }
    .thirdPartPng{
        height: 600px;
    }
}