* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.landing {
    color: white;
    background-color: #000;
}


.png_second {
    display: block;
    content: url("../img/security.png");
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    margin: 0 auto;
}

.thirdPartPng {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin: 0 auto;
}

.fourthPartPng {
    content: url('../img/about.png');
    width: 100%;
    object-fit: cover;
    object-position: right;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}

.png_clients {
    width: 70%;
}

.stars>img {
    width: 10%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 1200px) {
    .png_second {
        width: 500px;
        height: 500px;
    }

    .thirdPartPng {
        height: 600px;
    }

    .fifthPart>div {
        margin: 320px 0 380px;
    }

    .fifthPart>div>div>div {
        padding: 96px 48px;
    }

    .fifthPart>div>div>div:nth-child(2) {
        padding: 100px 50px;
        transform: scale(1.3);
    }

    .fifthPart>div>div>div:nth-child(2)>img {
        width: 40%;
    }
}